---
title: Unide landing page
---

<section class="header-10-sub v-center bg-clouds">
  <div class="background">&nbsp;</div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1><%= data.content.headline %></h1>
          <p><%= data.content.bodyline %></p>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"> </a>
</section>
